.box_login{
    /* background-color: rgba(176, 196, 222, 0.651); */
    background-color: #150c1513;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #150c1527;
}
.ant-input-prefix{
    color: grey;
}
.icon-login{
    font-weight: 900;
    border: 1px solid white ;
    padding: 2px 7px 7px 6px;
    border-radius: 4px ;
}